/* Courses Section */
.courses {
  width: 95%;
  margin: auto;
}
.subject-selection {
  width: 97%;
  margin: 0% 5%;
}

.courses-btns {
  background-color: transparent;
  display: flex;
}
.course-btn {
  background-color: transparent;
  margin: 1%;
  border: 1px transparent;
  color: #6a6f73;
  font-weight: bold;
}
.python {
  font-size: 100%;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
}
.subject-selection-paragraph {
  font-size: 126%;
  color: #6a6f73;
  margin: 5px;
}
.subject-selection-header {
  color: #6a6f73;
  font-size: 254%;
  margin: 0;
}
.course-btn:hover {
  font-size: 100%;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
}
.specfic-subject-courses {
  width: 90%;
  margin: 0% 5%;
  border: 1px solid black;
  padding: 1%;
  position: relative;
}
.courses-container {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  margin: 0%;
  justify-content: center;
  /* position: absolute; */
}
.specfic-subject-courses-paragraph {
  width: 49%;
  margin: 1% 0% 1% 1%;
  font-size: 100%;
  font-weight: 500;
}
.explore-btn {
  padding: 10px;
  text-align: center;
  background-color: #fff;
  font-weight: bold;
  border: 1px solid black;
  font-size: 17px;
  margin: 1% 0% 1% 1%;
}
.explore-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.course-img {
  width: 100%;
}
.one-course {
  margin: 1%;
}
.one-course:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
}
.course-author {
  color: #6a6fa0;
  font-size: 80%;
}
.course-description {
  margin: 0;
}
.star-container {
  display: flex;
  align-items: baseline;
}
.rating {
  color: #b4690e;
  font-weight: bold;
}
.specfic-subject-courses-header {
  margin: 2% 0% 0% 1%;
}
.star {
  color: #e59819;
  margin: 1%;
  font-weight: bold;
}
.course-price {
  font-weight: bold;
  margin: 0% 3% 0% 0%;
}
.course-div {
  margin: 0%;
}

.one-course-header {
  margin: 0%;
}
.price-container {
  margin: 0%;
}
.end {
  text-align: center;
  margin: 2%;
}

/*======================= 1466px ======================*/
@media only screen and (max-width: 1466px) {
  /* Courses Section */
  .courses {
    width: 95%;
    margin: auto;
  }
  .subject-selection {
    width: 97%;
    margin: 0% 5%;
  }

  .courses-btns {
    background-color: transparent;
    display: flex;
  }
  .course-btn {
    background-color: transparent;
    margin: 1%;
    border: 1px transparent;
    color: #6a6f73;
    font-weight: bold;
  }
  .python {
    font-size: 100%;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
  }
  .subject-selection-paragraph {
    font-size: 126%;
    color: #6a6f73;
    margin: 5px;
  }
  .subject-selection-header {
    color: #6a6f73;
    font-size: 254%;
    margin: 0;
  }
  .course-btn:hover {
    font-size: 100%;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
  }
  .specfic-subject-courses {
    width: 90%;
    margin: 0% 5%;
    border: 1px solid black;
    padding: 1%;
    position: relative;
  }
  .courses-container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    margin: 0%;
    justify-content: center;
  }
  .specfic-subject-courses-paragraph {
    width: 49%;
    margin: 1% 0% 1% 1%;
    font-size: 100%;
    font-weight: 500;
  }
  .explore-btn {
    padding: 10px;
    text-align: center;
    background-color: #fff;
    font-weight: bold;
    border: 1px solid black;
    font-size: 17px;
    margin: 1% 0% 1% 1%;
  }
  .course-img {
    width: 100%;
  }
  .one-course {
    margin: 1%;
  }
  .one-course:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
  }
  .course-author {
    color: #6a6fa0;
    font-size: 80%;
  }
  .course-description {
    margin: 0;
  }
  .star-container {
    display: flex;
    align-items: baseline;
  }
  .rating {
    color: #b4690e;
    font-weight: bold;
  }
  .specfic-subject-courses-header {
    margin: 2% 0% 0% 1%;
  }
  .star {
    color: #e59819;
    margin: 1%;
    font-weight: bold;
  }
  .course-price {
    font-weight: bold;
    margin: 0% 3% 0% 0%;
  }
  .course-div {
    margin: 0%;
  }

  .one-course-header {
    margin: 0%;
  }
  .price-container {
    margin: 0%;
  }
  .end {
    text-align: center;
    margin: 2%;
  }
  .explore-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
/*================================ 1000px ===============================*/
@media only screen and (max-width: 1000px) {
  /* Courses Section */
  .courses {
    width: 95%;
    margin: auto;
  }
  .subject-selection {
    width: 97%;
    margin: 0% 5%;
  }

  .courses-btns {
    background-color: transparent;
    display: flex;
  }
  .course-btn {
    background-color: transparent;
    margin: 1%;
    border: 1px transparent;
    color: #6a6f73;
    font-weight: bold;
  }
  .python {
    font-size: 100%;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
  }
  .subject-selection-paragraph {
    font-size: 126%;
    color: #6a6f73;
    margin: 5px;
  }
  .subject-selection-header {
    color: #6a6f73;
    font-size: 254%;
    margin: 0;
  }
  .course-btn:hover {
    font-size: 100%;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
  }
  .specfic-subject-courses {
    width: 90%;
    margin: 0% 5%;
    border: 1px solid black;
    padding: 1%;
    position: relative;
  }
  .courses-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0%;
    justify-content: space-between;
  }
  .specfic-subject-courses-paragraph {
    width: 100%;
    margin: 1% 0% 1% 1%;
    font-size: 100%;
    font-weight: 500;
  }
  .explore-btn {
    padding: 10px;
    text-align: center;
    background-color: #fff;
    font-weight: bold;
    border: 1px solid black;
    font-size: 17px;
    margin: 1% 0% 1% 1%;
  }
  .course-img {
    width: 100%;
  }
  .one-course {
    margin: 1%;
    width: 40%;
  }
  .one-course:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
  }
  .course-author {
    color: #6a6fa0;
    font-size: 80%;
  }
  .course-description {
    margin: 0;
  }
  .star-container {
    display: flex;
    align-items: baseline;
  }
  .rating {
    color: #b4690e;
    font-weight: bold;
  }
  .specfic-subject-courses-header {
    margin: 2% 0% 0% 1%;
  }
  .star {
    color: #e59819;
    margin: 1%;
    font-weight: bold;
  }
  .course-price {
    font-weight: bold;
    margin: 0% 3% 0% 0%;
  }
  .course-div {
    margin: 0%;
  }

  .one-course-header {
    margin: 0%;
  }
  .price-container {
    margin: 0%;
  }
  .end {
    text-align: center;
    margin: 2%;
  }
  .explore-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

/* =================== 700px ========================================*/
@media only screen and (max-width: 700px) {
  /* Courses Section */
  .courses {
    width: 95%;
    margin: 8% auto 0%;
  }
  .subject-selection {
    width: 97%;
    margin: 0% 5%;
  }

  .courses-btns {
    background-color: transparent;
    display: flex;
  }
  .course-btn {
    background-color: transparent;
    margin: 1%;
    border: 1px transparent;
    color: #6a6f73;
    font-weight: bold;
  }
  .python {
    font-size: 100%;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
  }
  .subject-selection-paragraph {
    font-size: 126%;
    color: #6a6f73;
    margin: 5px;
  }
  .subject-selection-header {
    color: #6a6f73;
    font-size: 254%;
    margin: 0;
  }
  .course-btn:hover {
    font-size: 100%;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
  }
  .specfic-subject-courses {
    width: 90%;
    margin: 0% 5%;
    border: 1px solid black;
    padding: 1%;
    position: relative;
  }
  .courses-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0%;
    justify-content: space-between;
  }
  .specfic-subject-courses-paragraph {
    width: 100%;
    margin: 1% 0% 1% 1%;
    font-size: 100%;
    font-weight: 500;
  }
  .explore-btn {
    padding: 10px;
    text-align: center;
    background-color: #fff;
    font-weight: bold;
    border: 1px solid black;
    font-size: 17px;
    margin: 1% 0% 1% 1%;
  }
  .course-img {
    width: 100%;
  }
  .one-course {
    margin: 1%;
    width: 40%;
  }
  .one-course:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
  }
  .course-author {
    color: #6a6fa0;
    font-size: 80%;
  }
  .course-description {
    margin: 0;
  }
  .star-container {
    display: flex;
    align-items: baseline;
  }
  .rating {
    color: #b4690e;
    font-weight: bold;
  }
  .specfic-subject-courses-header {
    margin: 2% 0% 0% 1%;
  }
  .star {
    color: #e59819;
    margin: 1%;
    font-weight: bold;
  }
  .course-price {
    font-weight: bold;
    margin: 0% 3% 0% 0%;
  }
  .course-div {
    margin: 0%;
  }

  .one-course-header {
    margin: 0%;
  }
  .price-container {
    margin: 0%;
  }
  .end {
    text-align: center;
    margin: 2%;
  }
  .explore-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

/* =================== 600px ========================================*/
@media only screen and (max-width: 600px) {
  /* Courses Section */
  .courses {
    width: 95%;
    margin: 6% auto;
  }
  .subject-selection {
    width: 97%;
    margin: 0% 5%;
  }

  .courses-btns {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
  }
  .course-btn {
    background-color: transparent;
    margin: 1%;
    border: 1px transparent;
    color: #6a6f73;
    font-weight: bold;
  }
  .python {
    font-size: 100%;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
  }
  .subject-selection-paragraph {
    font-size: 126%;
    color: #6a6f73;
    margin: 5px;
  }
  .subject-selection-header {
    color: #6a6f73;
    font-size: 254%;
    margin: 0;
  }
  .course-btn:hover {
    font-size: 100%;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
  }
  .specfic-subject-courses {
    width: 90%;
    margin: 0% 5%;
    border: 1px solid black;
    padding: 1%;
    position: relative;
  }
  .courses-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0%;
    justify-content: space-between;
  }
  .specfic-subject-courses-paragraph {
    width: 100%;
    margin: 1% 0% 1% 1%;
    font-size: 100%;
    font-weight: 500;
  }
  .explore-btn {
    padding: 10px;
    text-align: center;
    background-color: #fff;
    font-weight: bold;
    border: 1px solid black;
    font-size: 17px;
    margin: 1% 0% 1% 1%;
  }
  .course-img {
    width: 100%;
  }
  .one-course {
    margin: 1%;
  }
  .one-course:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
  }
  .course-author {
    color: #6a6fa0;
    font-size: 80%;
  }
  .course-description {
    margin: 0;
  }
  .star-container {
    display: flex;
    align-items: baseline;
  }
  .rating {
    color: #b4690e;
    font-weight: bold;
  }
  .specfic-subject-courses-header {
    margin: 2% 0% 0% 1%;
  }
  .star {
    color: #e59819;
    margin: 1%;
    font-weight: bold;
  }
  .course-price {
    font-weight: bold;
    margin: 0% 3% 0% 0%;
  }
  .course-div {
    margin: 0%;
  }

  .one-course-header {
    margin: 0%;
  }
  .price-container {
    margin: 0%;
  }
  .end {
    text-align: center;
    margin: 2%;
  }
  .explore-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

/* =================== 500px ========================================*/
@media only screen and (max-width: 500px) {
  /* Courses Section */
  .courses {
    width: 95%;
    margin: 7% auto;
  }
  .subject-selection {
    width: 97%;
    margin: 0% 5%;
  }

  .courses-btns {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
  }
  .course-btn {
    background-color: transparent;
    margin: 1%;
    border: 1px transparent;
    color: #6a6f73;
    font-weight: bold;
  }
  .python {
    font-size: 100%;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
  }
  .subject-selection-paragraph {
    font-size: 109%;
    color: #6a6f73;
    margin: 5px;
  }
  .subject-selection-header {
    color: #6a6f73;
    font-size: 203%;
    margin: 0;
  }
  .course-btn:hover {
    font-size: 90%;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
  }
  .specfic-subject-courses {
    width: 90%;
    margin: 0% 5%;
    border: 1px solid black;
    padding: 1%;
    position: relative;
  }
  .courses-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0%;
    justify-content: space-between;
  }
  .specfic-subject-courses-paragraph {
    width: 100%;
    margin: 1% 0% 1% 1%;
    font-size: 88%;
    font-weight: 500;
  }
  .explore-btn {
    padding: 10px;
    text-align: center;
    background-color: #fff;
    font-weight: bold;
    border: 1px solid black;
    font-size: 13px;
    margin: 1% 0% 1% 1%;
  }
  .course-img {
    width: 100%;
  }
  .one-course {
    margin: 1%;
  }
  .one-course:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
  }
  .course-author {
    color: #6a6fa0;
    font-size: 80%;
  }
  .course-description {
    margin: 0;
  }
  .star-container {
    display: flex;
    align-items: baseline;
  }
  .rating {
    color: #b4690e;
    font-weight: bold;
  }
  .specfic-subject-courses-header {
    margin: 2% 0% 0% 1%;
    font-size: 135%;
  }
  .star {
    color: #e59819;
    margin: 1%;
    font-weight: bold;
  }
  .course-price {
    font-weight: bold;
    margin: 0% 3% 0% 0%;
  }
  .course-div {
    margin: 0%;
  }

  .one-course-header {
    margin: 0%;
  }
  .price-container {
    margin: 0%;
  }
  .end {
    text-align: center;
    margin: 2%;
  }
  .explore-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

/* =================== 300px ========================================*/
@media only screen and (max-width: 300px) {
  /* Courses Section */
  .courses {
    width: 95%;
    margin: 11% auto;
  }
  .subject-selection {
    width: 97%;
    margin: 0% 5%;
  }
  .courses-btns {
    background-color: transparent;
    display: flex;
  }
  .course-btn {
    background-color: transparent;
    margin: 1%;
    border: 1px transparent;
    color: #6a6f73;
    font-weight: bold;
    font-size: 80%;
  }
  .python {
    font-size: 90%;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
  }
  .subject-selection-paragraph {
    font-size: 101%;
    color: #6a6f73;
    margin: 5px;
  }
  .subject-selection-header {
    color: #6a6f73;
    font-size: 164%;
    margin: 0;
  }
  .course-btn:hover {
    font-size: 100%;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
  }
  .specfic-subject-courses {
    width: 90%;
    margin: 0% 5%;
    border: 1px solid black;
    padding: 1%;
    position: relative;
  }
  .courses-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0%;
    justify-content: center;
  }
  .specfic-subject-courses-paragraph {
    width: 92%;
    margin: 1% 0% 1% 1%;
    font-size: 76%;
    font-weight: 500;
  }
  .explore-btn {
    padding: 10px;
    text-align: center;
    background-color: #fff;
    font-weight: bold;
    border: 1px solid black;
    font-size: 13px;
    margin: 1% 0% 1% 1%;
    margin: center;
    margin-left: 25%;
  }
  .course-img {
    width: 100%;
  }
  .one-course {
    margin: 1%;
    width: 60%;
  }
  .one-course:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.1);
  }
  .course-author {
    color: #6a6fa0;
    font-size: 80%;
  }
  .course-description {
    margin: 0;
  }
  .star-container {
    display: flex;
    align-items: baseline;
  }
  .rating {
    color: #b4690e;
    font-weight: bold;
  }
  .specfic-subject-courses-header {
    margin: 2% 0% 0% 1%;
    /* width: 38%; */
    font-size: 110%;
  }
  .star {
    color: #e59819;
    margin: 1%;
    font-weight: bold;
  }
  .course-price {
    font-weight: bold;
    margin: 0% 3% 0% 0%;
  }
  .course-div {
    margin: 0%;
  }

  .one-course-header {
    margin: 0%;
  }
  .price-container {
    margin: 0%;
  }
  .end {
    text-align: center;
    font-size: 72%;
    margin: 2%;
  }
  .explore-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
