/* Courses Section */
.courses {
  width: 95%;
  margin: auto;
}
.subject-selection {
  width: 97%;
  margin: 0% 5%;
}

.courses-btns {
  background-color: transparent;
  display: flex;
}
.course-btn {
  background-color: transparent;
  margin: 1%;
  border: 1px transparent;
  color: #6a6f73;
  font-weight: bold;
}
.active-btn {
  font-size: 100%;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
}
.subject-selection-paragraph {
  font-size: 126%;
  color: #6a6f73;
  margin: 5px;
}
.subject-selection-header {
  color: #6a6f73;
  font-size: 254%;
  margin: 0;
}
.course-btn:hover {
  font-size: 100%;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
}
.course-author {
  color: #6a6fa0;
  font-size: 80%;
}
.star-container {
  display: flex;
  align-items: baseline;
}
.rating {
  color: #b4690e;
  font-weight: bold;
  font-size: 120%;
}
.star {
  color: #e59819;
  margin: 1%;
  font-weight: 900;
}
.empty-star {
  color: #e59819;
}
.course-price {
  font-weight: bold;
  margin: 0% 3% 0% 0%;
}
.course-div {
  margin: 0%;
}

.one-course-header {
  margin: 0%;
}
.price-container {
  margin: 0%;
}
.delete-price {
  text-decoration: line-through;
}
.end {
  text-align: center;
  margin: 2%;
}
.subject-container {
  border: 1px solid black;
}
.explore-more {
  padding: 10px;
  text-align: center;
  background-size: 100% 100%;
  background-color: #fff;
  font-weight: bold;
  border: 1px solid black;
  font-size: 17px;
}
.course-description {
  text-align: left;
}
.card-header {
  background-color: transparent;
  border-bottom: 0px;
  text-align: left;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  font-weight: 900;
}
.rating-star-container {
  /* margin: 1px; */
  display: flex;
  align-items: center;
}
.cards-wrapper {
  display: flex;
}
.courses-container {
  display: flex;
}

/*======================= 1466px ======================*/
@media only screen and (max-width: 1466px) {
  /* Courses Section */
  .courses {
    width: 95%;
    margin: auto;
  }
  .subject-selection {
    width: 97%;
    margin: 0% 5%;
  }

  .courses-btns {
    background-color: transparent;
    display: flex;
  }
  .course-btn {
    background-color: transparent;
    margin: 1%;
    border: 1px transparent;
    color: #6a6f73;
    font-weight: bold;
  }
  .python {
    font-size: 100%;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
  }
  .subject-selection-paragraph {
    font-size: 126%;
    color: #6a6f73;
    margin: 5px;
  }
  .subject-selection-header {
    color: #6a6f73;
    font-size: 254%;
    margin: 0;
  }
  .course-btn:hover {
    font-size: 100%;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
  }
  .course-description {
    margin: 0;
  }
  .star-container {
    display: flex;
    align-items: baseline;
  }
  .rating {
    color: #b4690e;
    font-weight: bold;
  }
  .star {
    color: #e59819;
    margin: 1%;
    font-weight: bold;
  }
  .course-price {
    font-weight: bold;
    margin: 0% 3% 0% 0%;
  }
  .course-div {
    margin: 0%;
  }
  .one-course-header {
    margin: 0%;
  }
  .price-container {
    margin: 0%;
  }
  .end {
    text-align: center;
    margin: 2%;
  }
}
/*================================ 1000px ===============================*/
@media only screen and (max-width: 1000px) {
  /* Courses Section */
  .courses {
    width: 95%;
    margin: auto;
  }
  .subject-selection {
    width: 97%;
    margin: 0% 5%;
  }

  .courses-btns {
    background-color: transparent;
    display: flex;
  }
  .course-btn {
    background-color: transparent;
    margin: 1%;
    border: 1px transparent;
    color: #6a6f73;
    font-weight: bold;
  }
  .python {
    font-size: 100%;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
  }
  .subject-selection-paragraph {
    font-size: 126%;
    color: #6a6f73;
    margin: 5px;
  }
  .subject-selection-header {
    color: #6a6f73;
    font-size: 254%;
    margin: 0;
  }
  .course-btn:hover {
    font-size: 100%;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
  }
  .course-author {
    color: #6a6fa0;
    font-size: 80%;
  }
  .course-description {
    margin: 0;
  }
  .star-container {
    display: flex;
    align-items: baseline;
  }
  .rating {
    color: #b4690e;
    font-weight: bold;
  }
  .star {
    color: #e59819;
    margin: 1%;
    font-weight: bold;
  }
  .course-price {
    font-weight: bold;
    margin: 0% 3% 0% 0%;
  }
  .course-div {
    margin: 0%;
  }

  .one-course-header {
    margin: 0%;
  }
  .price-container {
    margin: 0%;
  }
  .end {
    text-align: center;
    margin: 2%;
  }
}

/* =================== 700px ========================================*/
@media only screen and (max-width: 700px) {
  /* Courses Section */
  .courses {
    width: 95%;
    margin: 8% auto 0%;
  }
  .subject-selection {
    width: 97%;
    margin: 0% 5%;
  }

  .courses-btns {
    background-color: transparent;
    display: flex;
  }
  .course-btn {
    background-color: transparent;
    margin: 1%;
    border: 1px transparent;
    color: #6a6f73;
    font-weight: bold;
  }
  .subject-selection-paragraph {
    font-size: 126%;
    color: #6a6f73;
    margin: 5px;
  }
  .subject-selection-header {
    color: #6a6f73;
    font-size: 254%;
    margin: 0;
  }
  .course-btn:hover {
    font-size: 100%;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
  }
  .course-author {
    color: #6a6fa0;
    font-size: 80%;
  }
  .course-description {
    margin: 0;
  }
  .star-container {
    display: flex;
    align-items: baseline;
  }
  .rating {
    color: #b4690e;
    font-weight: bold;
  }
  .specfic-subject-courses-header {
    margin: 2% 0% 0% 1%;
  }
  .star {
    color: #e59819;
    margin: 1%;
    font-weight: bold;
  }
  .course-price {
    font-weight: bold;
    margin: 0% 3% 0% 0%;
  }
  .course-div {
    margin: 0%;
  }

  .one-course-header {
    margin: 0%;
  }
  .price-container {
    margin: 0%;
  }
  .end {
    text-align: center;
    margin: 2%;
  }
}

/* =================== 600px ========================================*/
@media only screen and (max-width: 600px) {
  /* Courses Section */
  .courses {
    width: 95%;
    margin: 6% auto;
  }
  .subject-selection {
    width: 97%;
    margin: 12% 5%;
  }

  .courses-btns {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
  }
  .course-btn {
    background-color: transparent;
    margin: 1%;
    border: 1px transparent;
    color: #6a6f73;
    font-weight: bold;
  }
  .subject-selection-paragraph {
    font-size: 126%;
    color: #6a6f73;
    margin: 5px;
  }
  .subject-selection-header {
    color: #6a6f73;
    font-size: 254%;
    margin: 0;
  }
  .course-btn:hover {
    font-size: 100%;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
  }
  .course-author {
    color: #6a6fa0;
    font-size: 80%;
  }
  .course-description {
    margin: 0;
  }
  .star-container {
    display: flex;
    align-items: baseline;
  }
  .rating {
    color: #b4690e;
    font-weight: bold;
  }
  .specfic-subject-courses-header {
    margin: 2% 0% 0% 1%;
  }
  .star {
    color: #e59819;
    margin: 1%;
    font-weight: bold;
  }
  .course-price {
    font-weight: bold;
    margin: 0% 3% 0% 0%;
  }
  .course-div {
    margin: 0%;
  }

  .one-course-header {
    margin: 0%;
  }
  .price-container {
    margin: 0%;
  }
  .end {
    text-align: center;
    margin: 2%;
  }
}

/* =================== 500px ========================================*/
@media only screen and (max-width: 500px) {
  /* Courses Section */
  .courses {
    width: 95%;
    margin: 7% auto;
  }
  .subject-selection {
    width: 97%;
    margin: 0% 5%;
  }

  .courses-btns {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
  }
  .course-btn {
    background-color: transparent;
    margin: 1%;
    border: 1px transparent;
    color: #6a6f73;
    font-weight: bold;
  }
  .subject-selection-paragraph {
    font-size: 109%;
    color: #6a6f73;
    margin: 5px;
  }
  .subject-selection-header {
    color: #6a6f73;
    font-size: 203%;
    margin: 0;
  }
  .course-btn:hover {
    font-size: 90%;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
  }
  .course-author {
    color: #6a6fa0;
    font-size: 80%;
  }
  .course-description {
    margin: 0;
  }
  .star-container {
    display: flex;
    align-items: baseline;
  }
  .rating {
    color: #b4690e;
    font-weight: bold;
  }
  .specfic-subject-courses-header {
    margin: 2% 0% 0% 1%;
    font-size: 135%;
  }
  .star {
    color: #e59819;
    margin: 1%;
    font-weight: bold;
  }
  .course-price {
    font-weight: bold;
    margin: 0% 3% 0% 0%;
  }
  .course-div {
    margin: 0%;
  }

  .one-course-header {
    margin: 0%;
  }
  .price-container {
    margin: 0%;
  }
  .end {
    text-align: center;
    margin: 2%;
  }
}

/* =================== 300px ========================================*/
@media only screen and (max-width: 300px) {
  /* Courses Section */
  .courses {
    width: 95%;
    margin: 11% auto;
  }
  .subject-selection {
    width: 97%;
    margin: 0% 5%;
  }
  .courses-btns {
    background-color: transparent;
    display: flex;
  }
  .course-btn {
    background-color: transparent;
    margin: 1%;
    border: 1px transparent;
    color: #6a6f73;
    font-weight: bold;
    font-size: 80%;
  }
  .subject-selection-paragraph {
    font-size: 101%;
    color: #6a6f73;
    margin: 5px;
  }
  .subject-selection-header {
    color: #6a6f73;
    font-size: 164%;
    margin: 0;
  }
  .course-btn:hover {
    font-size: 100%;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
  }
  .course-author {
    color: #6a6fa0;
    font-size: 80%;
  }
  .course-description {
    margin: 0;
  }
  .star-container {
    display: flex;
    align-items: baseline;
  }
  .rating {
    color: #b4690e;
    font-weight: bold;
  }
  .specfic-subject-courses-header {
    margin: 2% 0% 0% 1%;
    /* width: 38%; */
    font-size: 110%;
  }
  .star {
    color: #e59819;
    margin: 1%;
    font-weight: bold;
  }
  .course-price {
    font-weight: bold;
    margin: 0% 3% 0% 0%;
  }
  .course-div {
    margin: 0%;
  }

  .one-course-header {
    margin: 0%;
  }
  .price-container {
    margin: 0%;
  }
  .end {
    text-align: center;
    font-size: 72%;
    margin: 2%;
  }
}
