
/*======================= 1466px ======================*/
@media only screen and (max-width: 1466px) {
    .sign-up-btn{
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
    }
    .categories{
    display: none;
    }
    .search-input{
        width: 70%;
    }
    .cart{
        font-size: 4px;
    }
}
/*================================ 1000px ===============================*/
@media only screen and (max-width: 1000px) {
    /*nav section*/
    .nav-form{
        display: none;
    }
     /* Head- section*/
    .head-section{
        width: 100%;
        height: 443px;
        margin: auto;
        background-color: transparent;
        display: flex;
        position: relative;
    }
    .head-note{
        background-color: #ffffff;
        height: 34%;
        padding: 20px;
        width: 37%;
        position: absolute;
        top: 20%;
        left: 19px;
    }
    .alarm{
        width: 50%;
        height: 50%;
        position: fixed;
        right: 0;
        top: 16%;
    }
    .cart
    {
        font-size: 4px;
    }
}

/* =================== 700px ========================================*/
@media only screen and (max-width: 700px) {
    /*nav section*/
    .nav{
        position: absolute;
        width: 100%;
    }
    .nav-link{
        display: none;
    }
    .udemy-icon{
        position: absolute;
        left: 44%;
        bottom: 17px;
        width: 103px;
        height: 43px;
    }
    .udemy-menue{
        background-image: url(../img/Menue\ icon.png);
        width: 8%;
        height: 69%;
        background-size: 100% 100%;
        border: 1px solid white;
        position: absolute;
        left: 27px;
        display: block;
    }
    .cart{
        display: block;
        width: 27px;
        height: 22px;
        position: absolute;
        left: 91%;
        bottom: 16px;
    }
    .search-input{
        display: none;
    }
    
    .nav-btn{
        display: none;
    }
    .search-nav-bar-icon {
        position: absolute;
        display: block;
        left: 83%;
        bottom: 23px;
        width: 20px;
        height: 22px;
    }
     /* Head- section*/
    .head-section{
        width: 100%;
        height: 476px;
        margin: 70px auto 0px;
        background-color: #f2f2f296;
        display: flex;
        position: relative;
    }
    .head-note{
        background-color: #ffffff;
        height: 20%;
        width: 71%;
        padding: 20px;
        position: absolute;
        top: 69%;
        left: 11%;
    }
    .alarm{
        width: 60%;
        height: 64%;
        position: absolute;
        right: 20%;
        top: 1%;
    }
}

/* =================== 600px ========================================*/
@media only screen and (max-width: 600px) {
    /*nav section*/
    .nav{
        position: absolute;
        width: 100%;
    }
    .nav-link{
        display: none;
    }
    .udemy-icon{
        position: absolute;
        left: 44%;
        bottom: 17px;
        width: 103px;
        height: 43px;
    }
    .udemy-menue{
        background-image: url(../img/Menue\ icon.png);
        width: 8%;
        height: 69%;
        background-size: 100% 100%;
        border: 1px solid white;
        position: absolute;
        left: 27px;
        display: block;
    }
    .cart{
        display: block;
        width: 27px;
        height: 22px;
        position: absolute;
        left: 91%;
        bottom: 16px;
    }
    .search-input{
        display: none;
    }
    
    .nav-btn{
        display: none;
    }
    .search-nav-bar-icon {
        position: absolute;
        display: block;
        left: 83%;
        bottom: 23px;
        width: 20px;
        height: 22px;
    }
     /* Head- section*/
    .head-section{
        width: 100%;
        height: 548px;
        margin: 70px auto 0px;
        background-color: #f2f2f296;
        display: flex;
        position: relative;
    }
    .head-note{
        background-color: #ffffff;
        height: 23%;
        width: 76%;
        padding: 20px;
        position: absolute;
        top: 69%;
        left: 11%;
    }
    .alarm{
        width: 60%;
        height: 64%;
        position: absolute;
        right: 20%;
        top: 1%;
    }
}


/* =================== 500px ========================================*/
@media only screen and (max-width: 500px) {
    /*nav section*/
    .nav{
        position: absolute;
        padding: 0px 20px;
        width: 100%;
    }
    .nav-link{
        display: none;
    }
    .udemy-icon{
        position: absolute;
        left: 64%;
        bottom: 10px;
        width: 109px;
        height: 46px;
    }
    .udemy-menue{
        background-image: url(../img/Menue\ icon.png);
        width: 12%;
        height: 82%;
        background-size: 100% 100%;
        border: 1px solid white;
        position: absolute;
        left: 9px;
        bottom: 9px;
        display: block;
    }
    .cart{
        display: none;
        width: 25px;
        height: 17px;
        position: absolute;
        left: 84%;
        bottom: 11px;
    }
    .search-input{
        display: none;
    }
    
    .nav-btn{
        display: none;
    }
    .search-nav-bar-icon {
        position: absolute;
        display: none;
        left: 78%;
        bottom: 16px;
        width: 16px;
        height: 17px;
    }
     /* Head- section*/
    .head-section{
        width: 100%;
        height: 493px;
        margin: 62px auto;
        background-color: #f2f2f296;
        display: flex;
        position: relative;
        flex-direction: column-reverse;
    }
    .head-note{
        background-color: #ffffff;
        height: 30%;
        width: 76%;
        padding: 20px;
        position: absolute;
        top: 294px;
        left: 8%;
    }
    .alarm{
        width: 63%;
        height: 50%;
        position: absolute;
        right: 18%;
        top: 1%;
    }
 }


 /* =================== 300px ========================================*/
@media only screen and (max-width: 300px) {
    /*nav section*/
    .nav{
        position: absolute;
        width: 100%;
        padding: 0px 10px;
    }
    .nav-link{
        display: none;
    }
    .udemy-icon{
        position: absolute;
        left: 57%;
        bottom: 10px;
        width: 109px;
        height: 46px;
    }
    .udemy-menue{
        background-image: url(../img/Menue\ icon.png);
        width: 9%;
        height: 66%;
        background-size: 100% 100%;
        border: 1px solid white;
        position: absolute;
        left: 9px;
        bottom: 9px;
        display: block;
    }
    .cart{
        display: none;
        width: 25px;
        height: 17px;
        position: absolute;
        left: 84%;
        bottom: 11px;
    }
    .search-input{
        display: none;
    }
    
    .nav-btn{
        display: none;
    }
    .search-nav-bar-icon {
        position: absolute;
        display: none;
        left: 78%;
        bottom: 16px;
        width: 16px;
        height: 17px;
    }
     /* Head- section*/
    .head-section{
        width: 100%;
        height: 509px;
        margin: 62px auto;
        background-color: #f2f2f296;
        display: flex;
        position: relative;
        flex-direction: column-reverse;
    }
    .head-note{
        background-color: #ffffff;
        height: 33%;
        width: 90%;
        padding: 20px;
        position: absolute;
        top: 292px;
        left: -1px;
    }
    .alarm{
        /* position: absolute; */
        width: 100%;
        height: 50%;
        position: absolute;
        right: 0px;
        top: 1px;
    }
 }